@font-face{
	font-family: "Lato";
	src: url('fonts/Lato.ttf');
}

@font-face{
	font-family: "Montserrat";
	src: url('fonts/Montserrat.ttf');
}

@media (min-width: 0) and (max-width: 500px){

@keyframes backWapperMenu{
 0%{
 	background: linear-gradient(45deg, #472d2d,rgb(196, 164, 153,0.5), #472d2d)
 }
 20%{
 	background: linear-gradient(45deg, #472d2d, #472d2d, rgb(196, 164, 153,0.5),white, rgb(196, 164, 153,0.5), #472d2d)
 }
 40%{
 	background: linear-gradient(45deg, #472d2d,#472d2d,#472d2d, rgb(196, 164, 153,0.5),white, rgb(196, 164, 153,0.5), #472d2d)
 }
  60%{
  	background: linear-gradient(45deg, #472d2d, #472d2d, rgb(196, 164, 153,0.5),white)
 }
 80%{
 	background: linear-gradient(45deg,  rgb(196, 164, 153,0.5), #472d2d, #472d2d)
 }
  100%{
  	background: linear-gradient(45deg, #472d2d, rgb(196, 164, 153,0.5), #472d2d)
 }
}

@keyframes burgerItem{
	0%{
		transform: rotate(0);
	}
	100%{
		transform: rotate(45deg);
		margin-top: 19px;
	}
}

@keyframes burgerThrid{
	from{
		transform: rotate(0);
	}
	to{
		transform: rotate(135deg);
	}
}

@keyframes burgerItemRev{
	from{
		transform: rotate(45deg);
		margin-top: 19px;
	}
	to{
		transform: rotate(0);
	}
}

@keyframes burgerThridRev{
	from{
		transform: rotate(135deg);
	}
	to{
		transform: rotate(0);
	}
}


html{
	
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0;
	overflow-x: hidden;
	}



body{
	font-family: "Lato";
	width: 100%;
	margin: 0;
	padding: 0;
	/*background-size: contain;*/

	
}

header{
	background: url("img/header/headWap.png") no-repeat 50% 100%;
	background-size: cover;
	width: 375px;
	margin-left: auto;
	margin-right: auto;
	/*margin-top: 0px;
	width: 100%;
	height: 100%;
	background-size: contain;
	background: linear-gradient(180deg, #0B0C0E 10.21%, rgba(11, 12, 14, 0.4));
	/*background-size: cover;*/
}

header a{
	text-decoration: none;
	outline: none;
	color: white;
}

.Head{
	margin-top: 0px;
	width: 375px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	background: linear-gradient(180deg, #0B0C0E 10.21%, rgba(11, 12, 14, 0.4));
	background-size: cover;
	
}/*
@media (max-width:1360px){ 
	.Head{	
		
		margin-top: 0px;
		width: 100%;
		height: 100%;
		padding: 0;
		background: linear-gradient(180deg, #0B0C0E 10.21%, rgba(11, 12, 14, 0.4));
	}
}*/

.Head__menuHead{
	display: flex;
	flex-wrap: wrap;
	max-width: 375px;
	margin-left: auto;
	margin-right: auto;
	position: fixed;
	background: rgb(0,0,0,0.7);
	padding-bottom: 100px;
}

.Head__menuHead__block-logo__img{
	margin-top: 60px;
	margin-left: 140px;
	position: absolute;
}

.Head__menuHead__regionHead{
	display: flex;
	width: 130px;
	height: 20px;
	color: white;
	margin-top: 12px;
	font-size: 12px;
	margin-left: 10px;
	margin-right: 0px;
	cursor: pointer;
}

.Head__menuHead__regionHead__region{
	margin-top: 15px;
}

.Head__menuHead__regionHead__region:hover{
	opacity: 0.7;
}

.Head__menuHead__regionHead__line{
	width: 8px;
	height: 8px;
	padding-top: 20px;
	margin: 0px 10px 0px 8px;
}

.Head__menuHead__regionHead__marker{
	width: 4px;
	height: 4px;
	margin: 0px 4px 0px 10px;
	margin-top: 18px;
	border: 2.5px solid white;
	transform: rotate(45deg);
	border-radius: 50% 50% 0% 50%;
}

.Head__menuHead__regionHead__menu{
	position: absolute;
	display: none;
	z-index: 11;
	margin-top: 50px;
	background: linear-gradient(45deg, #472d2d,rgb(196, 164, 153, 1), #472d2d);
	animation: 0.2s backWapperMenu linear reverse;
	border-top: 1px solid rgb(255,255,255,1);
	border-bottom: 1px solid rgb(255,255,255,1);
	padding-right: 40px; 
	padding-top: 10px;
	padding-bottom: 15px;
	margin-left: 0px;
	border-radius: 3px;
}

.Head__menuHead__regionHead__menu_item{
	list-style: none;
	padding: 10px 0 10px 0;
	border-bottom: 1px solid rgb(255,255,255,1);
}

.Head__menuHead__regionHead__menu_item:hover{
	opacity: 0.4;
	border-bottom: 1px solid black;
}

.Head__burger{
	display: block;
	margin-top: 80px;
	margin-left: 10px;
	position: absolute;
}

.Head__burger-item{
	position: absolute;
	width: 23px;
	margin: 5px;
	border: 1px solid white;
	border-radius: 10px;
	z-index: 3;
}


.Head__burger-item-second{
	margin-top: 12px;
}

.Head__burger-item-thrid{
	margin-top: 19px;
}

.Head__listHead{
	display: none;
	margin-left: 0px;
	margin-right: auto;
	width: 375px;
	height: 300px;
	z-index: 2;
	position: absolute;
	background: linear-gradient(45deg, #a4a4a4,rgb(196, 164, 153,1),#a4a4a4);
	border-radius: 3px;
	box-shadow: inset 0px 0px 10px 10px rgb(0,0,0, 0.5);
}

.Head__listHead__menu{
	color: black;
}

.Head__listHead__menu-items-more_line{
	display: none;
}

.Head__listHead__menu-items{
	cursor: pointer;
	list-style: none;
	font-size: 14px;
	margin-top: 10px;
	margin-left: 0;
	height:25px;
	width: 230px;
	background: rgb(0,0,0, 0.1);
}

.Head__listHead__menu-items a{
	color:black;
	text-align: center;
	margin: 0;
	padding: 0;
}

.Head__listHead__menu-items:not(.Head__listHead__menu-items:nth-child(1), .Head__listHead__menu-items:nth-child(2)):hover{
	opacity: 0.6;
}

.Head__listHead__menu-items_label:hover{
	opacity: 0.6;
}

.Head__listHead__menu-items-catalog{
	padding: 10px 0 0 42px;
}

.Head__listHead__menu-items-info , .Head__listHead__menu-items-calc , .Head__listHead__menu-items-service{
	padding: 10px 0 0 39px;
}

.Head__listHead__menu-items-company , .Head__listHead__menu-items-contacts{
	padding: 10px 0 0 41px;
}

.Head__listHead__menu-items-more_line{
  	margin-top: 2px;
  	margin-left: 6px;
}

.Head__listHead__menu-items__more{
	position: absolute;
	background: linear-gradient(45deg, #472d2d,rgb(196, 164, 153, 1), #472d2d);
	border-radius: 0px;
	animation: 0.2s backWapperMenu linear reverse;
	margin-top: 10px;
	border: 2px inset;
	border-color: black, white;
	border-right: none;
	border-left: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 40px;
	display: none;
	box-shadow: 0px 0px 5px 5px rgb(0,0,0, 0.5);
	z-index: 5;
}

.Head__listHead__menu-items__more-href{
	text-decoration: none;
	color: white;
}

.Head__listHead__menu-items__more-href_name{
	cursor: pointer;
	list-style: none;
	padding: 10px 0px;
	border-bottom: 1px solid rgb(255,255,255,0.5);
	border-right: none;
	border-left: none;
}

.Head__listHead__menu-items__more-href_name:hover{
	opacity: 0.8;
	color: rgb(255,255,255,0.4);
	border-bottom-color: rgb(0,0,0,0.7);
}


.Head__menuHead__menu_language{
	display: none;
	width: 60px;
	margin-top: 28px;
	margin-left: auto;
	margin-right: 0px;
	cursor: pointer;
}

.Head__menuHead__menu_language:hover{
	opacity: 0.6;
}

.Head__menuHead__menu_language-img{
	width: 13px;
	height: 13px;
}

.Head__menuHead__menu_language-item{
	color: white;
	margin:0;
	font-size: 13px;
	margin-left: 7px;
}

.Head__menuHead__menu_language-disabled{
	display: none;
}

.Head__menuHead__menu_phone{
	display: flex;
	color: white;
	margin-top: 28px;
	margin-left: 0px;
	margin-right: 82px;
}

.Head__menuHead__menu_phone-img{
	width: 12px;
	height: 12px;
	margin-top: 3px;
}

.Head__menuHead__menu_phone-number{
	margin-top: 3px;
	margin-left: 7px;
	font-size: 9px;
}

.Head__menuHead__menu_user{
	display: flex;
	margin-top: 26px;
	margin-left: auto;
	margin-right: 10px;
	
}

.Head__menuHead__menu_user-href:not(.Head__menuHead__menu_user-basket){
	margin-left: 10px;
}

.Head__menuHead__menu_user-basket{
	position: absolute;
	z-index: 1;
	margin-top: 50px;
	margin-left: 10px;
}

.Head__menuHead__menu_user-href_img-basket{
	width: 20px;
	height: 20px;
}

.Head__menuHead__menu_user-href:hover{
	opacity: 0.6;
}


/*slider left number*/

.Head__sliderHead{
	color: white;
	z-index: 2;
	margin-top: 235px;
	display:none;
}
/*
.Head__slider_item_head{
	width: 10px;
	border-bottom: 2px solid white;
	padding: 10px 0 0 0px;
	margin:0px;
	margin-bottom: 8px; 
	margin-left: 30px;
}

.Head__slider_item_head p{
	display: none;
}

.Head__active_slider_item{
	width: 20px;
}

.Head__active_slider_item p{
	display: block;
	margin: 0;
	margin-bottom: 7px;
	padding: 0;
	width: 25px;
}*/


/*head banner*/

.Head__banner_all_head{
	display: flex;
	width: 375px;
	
}

.Head__banner_head{
	width: 320px;
	color: white;
	font-family: "Montserrat";
	font-size: 17px;
	margin-top: 223px;
	margin-left: auto;
	
	margin-right: auto;
}

.Head__banner_items{
	overflow: auto;
	display: flex;
	font-size: 16px;
	font-family: "Lato";
	margin-top: 170px;
	margin-left: 0px;
} 

.Head__banner_head_item{
	margin: 20px;
	height: 20px;
	padding-bottom: 19px;
	width: 340px;
	margin-right: 37px;
	border-left: 2px solid #C0511F;
}

.Head__banner_head_item p{
	margin-top: 0px;
	letter-spacing: 0.9px;
	margin-left: 10px;
	line-height: 22px;
	width: 300px;
}

.Head__banner_head_item-text-wing{
	padding-top: 7px;
}


.Head__banner_head_name{
	text-align: center;
}

.Head__banner_head_name_text{
	display: flex;
	flex-wrap: wrap;
	width: 300px;
	font-size: 14px;
	line-height: 24px;
	margin-top: -3px;
	margin-left: auto;
	margin-right: auto;
}


/*catalog*/


#catalog{
	overflow: hidden;
	width: 375px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}

.popularBlock{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	background: white;
	padding-top: 100px;
	padding-bottom: 100px;
}

.popularBlock__block-catalog{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}

.popularBlock__all-catalog{
	display: flex;
	margin-left: 0px;
	padding: 0;
	margin-right: auto;
	overflow: auto;
	padding-bottom: 10px;
}

.popularBlock__header{
	display: flex;
	margin-left: 30px;
	margin-top: 79px;
}

.popularBlock__header-href{
	display: flex;
	text-decoration: none;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	padding: 0px;
	text-transform: uppercase;
	color: #C0511F;
	margin-top: 10px;
	margin-left: auto;
	margin-right: 40px;
	cursor: pointer;
}

.popularBlock__header-href:hover{
	opacity: 0.7;
}

.popularBlock__header-href_text{
	padding-top: 5px;
}

.popularBlock__header-href_img{
	width:4px;
	height:8px;
	margin-top: 23px;
	margin-left: 5px;
}

.popularBlock__header-name{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 50px;

}

.popularBlock__catalog-block{
	background:#F6F6F6;
	width: 202px;
	height: 180px;
}

.popularBlock__catalog-block_img{
	margin-left: 25px;
}

.popularBlock__catalog{
	cursor: pointer;
	margin-left: 10px;
	width: 202px;
	height: 330px;
	margin-top: 20px;
	box-shadow: 0px 0px 5px 5px rgb(0,0,0, 0.1);
}

.popularBlock__catalog_text{
	padding-left: 10px;
}

.popularBlock__catalog_articul{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	color: #878787;
}

.popularBlock__catalog_descreption{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	width:200px;
	margin-top: 0px;
}

.popularBlock__catalog_prices-piece{
	margin-top:  0px;
}

.popularBlock__catalog_prices-ton{
	margin-top: -14px;
}

.popularBlock__catalog_prices-sup{
	font-size: 9px;
}

.popularBlock__catalog_info_price{
	display: flex;
}


.popularBlock__catalog_prices{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	margin-top: 0px;
}

.popularBlock__catalog_prices-block:hover{
	transform: scale(1.2);
	opacity: 0.6;
}

.popularBlock__catalog_prices-block{
	background: #C0511F;
	border-radius: 10px;
	width:36px;
	height:36px;
	margin-left: 57px;
	margin-top: 5px;
	cursor: pointer;
	transition-duration: 0.3s;
}

.popularBlock__catalog_prices-block_img{
	margin-left: 11px;
	margin-top: 12px;
}
/*
.popularBlock__bottom-line{
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto; 
	width: 85%;
	height: 0px;
	padding: 0; 
	border: 2px solid rgb(0, 0, 0, 0.3);
	border-radius: 20px;
}

.popularBlock__bottom-line-active{
	width: 10%;
	border-radius: 10px;
	position: absolute;
	margin-top: -2px;
	margin-left: -2px;
	border-bottom: 4px solid black;
}
*/
#services{
	height: 100%;
	z-index: 0;
	margin-top: 0px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.services{
	width: 375px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	padding-bottom: 100px;
	background: white;
}

.services__header{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	padding-top: 40px;
	margin-left: 150px;
}

.services__items{

	display: flex;
	flex-wrap: wrap;
	margin-top: 59.5px;
	/*margin-left: 145px;*/
	margin-left: auto;
	margin-right: auto;
}

.services__items__self{
	width: 345px;
	cursor: pointer;
	height: 100px;
	display: flex;
	margin: 20px;
	margin-left: 13px;	
	background: white;
	box-shadow: 0px 0px 2px 2px #e4e4e4;
	transition-duration: 0.3s
}

.services__items__self-thrid{
	/*margin-left: 30px;*/
}

.services__items__self:hover{
	background: #C0511F;
	color: white;
}

.services__items__self-left-block{
	height: 100px;
	width: 30px;
	background: #C0511F;
}

.services__items__self-block{
	height: 75px;
	width: 371px;
	padding-top: 25px;
}

.services__items__self-block_text{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
}

/*STOCKS*/

#stocks{

	width: 375px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	margin-top: 0px;
	overflow-y: hidden;
	display: none;
}

.stocks{
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	padding-bottom: 300px;
	background: #e4e4e4;
	overflow-y: hidden;
}

.stocks__header{
	display: flex;
	margin-top: 87px;
	margin-left: 150px;
	margin-right: auto
}

.stocks__header_head-text{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
}

.stocks__header_href{
	padding-top: 27px;
	margin-left: auto;
	margin-right: 30px;
}

.stocks__header_href:hover , .stocks__all-products__item-href:hover{
	opacity: 0.7;
}

.stocks__header_href-text{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	color: #C0511F;
}

.stocks__header_href-img{
	margin-left: 14px;
}

.stocks__all-products{
	margin-left: auto;
	margin-right: auto;
	width: 85%;
	display: flex;
	flex-wrap: wrap;
}

.stocks__all-products__item{
	width:401px;
	height:400px;
	background: white;
	padding-top: 23px;
	margin-top: 20px;
	margin-left: 30px;
}

.stocks__all-products__item-info{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	padding-top: 17px;
	margin-left: 27px;
}

.stocks__all-products__item-href{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #C0511F;
	margin-top: 0px;
	margin-left: -375px;
	text-decoration-line: underline;
}

.stocks__all-products__item-img{
	margin-left: 93px;
	margin-top: 35px;
	margin-bottom: 15px;
}

/*NEWS*/


#news{
	

	width: 375px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	background: url("img/news/wapper.png") no-repeat;
	background-size: cover;
	margin-top: 0px;
	overflow: hidden;
}

.news{
	max-width: 375px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	
	padding-top: 100px;
	padding-bottom: 100px;
	background: rgb(0,0,0, 0.7);
	background-size: cover;
}

.news__header{
	display: flex;
	margin-left: 30px;
	margin-top: 63px;
}

.news__header-name{
	font-family: Montserrat;
	font-style: Medium;
	font-size: 24px;
	line-height: 29px;
	line-height: 100%;
	color: white;
}

.news__header-href{
	margin-left:auto;
	margin-right: 10px;
	margin-top: 25px;
}

.news__header-href:hover{
	opacity: 0.7;
}

.news__header-href-img{
	margin-left: 5px;
}

.news__header-href-text{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #C0511F;
	text-decoration: none
}

.news__items{
	width: 85%;
	display: flex;
	flex-wrap: wrap;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
}

.news__items__big-news_href{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #C0511F;
}

.news__items__big-news_href:hover{
	opacity: 0.7;
}

.news__items__big-news_text{
	color: white;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 48px;
	margin-top: -8px;
	width: 301px;
}

.news__items__big-news_date{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 48px;
	padding-top: 0px;
	color: white;
}

.news__items__small-news{
	margin-left: auto;
	margin-right: 30px;
	margin-top: 48px;
	display: flex;
	overflow: auto;
}

.news__items__small-news_item{
	width: 220px;
	margin-bottom: 33px;
}

.news__items__small-news_item-info{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: white;
}

.news__items__small-news_item-date{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	color: #F6F6F6;
}

/*USEFUL*/

#useful{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	margin-top: 0px;
	overflow-x: hidden;
}

.useful{
	max-width: 375px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	padding-top: 50px;
	padding-bottom: 100px;
	background: white;
}

.useful__header{
	display: flex;
	margin-left: 10px;
	margin-top: 30px;
}

.useful__header_head-text{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;
}

.useful__header_href{
	margin-top: 23px;
	margin-left: auto;
	margin-right: 30px;

}

.useful__header_href:hover{
	opacity: 0.7;
}

.useful__header_href-img{
	margin-left: 13px;
}

.useful__header_href-text{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #C0511F;
	text-decoration: none;
}

.useful__all-products{
	width: 85%;
	display: flex;
	margin-left: 0px;
	overflow: auto;
}

.useful__all-products__item{
	cursor: pointer;
	width: 254px;
	height: 420px;
	margin-left: 28px;
	margin-top: 24px;
	border: 1px solid #e4e4e4;
	transition-duration: 0.3s;
}

.useful__all-products__item:hover{
	color: white;
	background: #C0511F;
}

.useful__all-products__item-info{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	padding-left: 20px;
	padding-top: 1px;
}

.useful__all-products__item-description{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	padding-left: 20px;
	padding-top: 5px;
}

.useful__all-products__item-img{
	width: 254px;
	height:200px;
}

/*PARTHERS*/
#parthers{
	overflow-x: hidden;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	margin-top: 0px;
}

.parthers{
	max-width: 375px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	
	padding-top: 50px;
	padding-bottom: 100px;
	background: white;
}
.parthers__header_head{
	margin-top: 0px;
	margin-left: 10px;
}

.parthers__header_head-text{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
}

.parthers__all{
	width: 85%;
	display: flex;
	overflow-x: auto;
	/*flex-wrap: wrap;*/
	margin-left: 30px;
	margin-top: 100px;
}

::-webkit-scrollbar {
  width: 0;
}

.parthers__all__item{
	margin-right: 40px;
}

.parthers__all__ARCELOR{
	margin-left: 0px;
}

.parthers__all__CMK{
	padding-top: 23px;
	margin-left: 79px;
}

.parthers__all__AMET, .parthers__all__MMK{
	padding-top: 27px;
}
/*
.partherBlock__bottom-line{
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto; 
	width: 85%;
	height: 0px;
	padding: 0; 
	border: 2px solid rgb(0, 0, 0, 0.3);
	border-radius: 20px;
}
*/

/*FOOTER*/
#menu-footer{
	background: url('img/footer/wapper.png') no-repeat center;
	background-size: cover;
	height: 100%;
	max-width: 375px;
	margin-left: auto;
	margin-right: auto;
}

.menu-footer{
	max-width: 375px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	text-align: center;
	/*padding-bottom: 400px;*/
	background: rgb(0,0,0, 0.7);
}

.menu-footer__info{
	width: 180px;
	display: flex;
	flex-wrap: wrap;
	padding-top: 123px;
	margin-left: 0px;
	margin-left: auto;
	margin-right: auto;
}


.menu-footer__info__string{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 48px;;
	text-decoration: none;
	color: #C0511F;
}

.menu-footer__info__lists{
	margin: 0px;
	width: 100%;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.menu-footer__info__lists-item{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 18px;
	color: white;
	list-style: inside;
	margin-left: auto;
	margin-right: auto;
	width:80%;
	padding-right: 15px;
}

.menu-footer__info__lists-item_href{
	color: white;
	text-decoration: none;
}

.menu-footer__info__lists-item:hover , .menu-footer__info__string:hover{
	opacity: 0.3;
}

.menu-footer__footer{
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	margin-left:auto;
	margin-right: auto;
	margin-top: 73px;
}

.menu-footer__footer-social{
	display: flex;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.menu-footer__footer-social_item{
	margin: 0 10px;
	cursor: pointer;
}
/*
.menu-footer__footer-social_item:hover{
	opacity: 0.7;
}

.menu-footer__footer-social_fb{
	margin-left: 0;
}
*/
.menu-footer__footer-rights{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	line-height: 12px;
	margin-left: auto;
	margin-right: auto;
	color: white;
}

.Head__active_banner{
	display: block;
}


@keyframes move_banner_dis{
	from{
		opacity: 1;
		display: block;

	}
	to{
		opacity: 0;
		display: none;
	}
}

@keyframes move_banner_act{
	from{
		opacity: 0;


	}
	to{
		opacity: 1;
		display: block;
	}
}

}