@media (min-width: 0) and (max-width: 500px){

body{
	width: 375px;
	margin-left: auto;
	margin-right: auto;
}

.name-search-block__name{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	margin-left: 10px;
}

.name-search-block__block-img{
	margin-left: 10px;
	margin-right: auto;
}

.name-search-block__block-img_icon{
	position: absolute;
	margin-left: 15px;
	border-right: 1px solid #F0F0F0;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
}

.name-search-block__block-img_text{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	border: 1px solid #F0F0F0;
	width: 80%;
	padding-left: 60px;
	height:48px;
}

.name-search-block__block-img_text:focus{
	outline: none;
}

/*container*/

.container__categories{
	display: flex;
	flex-wrap: wrap;
}

.container__categories__product{
	width: 300px;
	margin-left: 20px;
	margin-right:  auto;
	margin-top: 100px;
}

.container__categories__product__name{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	display: flex;
}

.container__categories__product__variants-lists{
	margin:0;
	padding: 0;
}

.container__categories__product__variants-lists_item{
	list-style: none;
	margin: 0;
	padding-top: 10px;
}

.container__categories__product__variants-lists_item-href{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-decoration: none;
	color: black;
	border-bottom: 1px dashed black;
}

.container__categories__product__variants-lists_item-href:hover{
	opacity: 0.7;
}


}