@font-face{
	font-family: "Lato";
	src: url('../fonts/Lato.ttf');
}

@font-face{
	font-family: "Montserrat";
	src: url('../fonts/Montserrat.ttf');
}




@keyframes backWapperMenu{
 0%{
 	background: linear-gradient(45deg, white,#a4a4a4)
 }
 20%{
 	background: linear-gradient(45deg, white,#a4a4a4,#a4a4a4,white)
 }
 40%{
 	background: linear-gradient(45deg, white,#a4a4a4,white)
 }
  60%{
  	background: linear-gradient(45deg, white,,white,#a4a4a4,white,#a4a4a4,#a4a4a4)
 	
 }
 80%{
 	background: linear-gradient(45deg, white,#a4a4a4,white,#a4a4a4)
 }
  100%{
  	background: linear-gradient(45deg, white,white,#a4a4a4)
 }
}

html{
	/*background: url("../img/header/headWap.png") no-repeat;*/
	background-size: cover;
	height: 100%;
	width: 100%;
	margin: 0px;
}

body{
	font-family: "Lato";
	width: 100%;
	height: 100%;
	margin: 0;
	background-size: contain;
	/*overflow-y: hidden;*/
}

header{
	
	/*margin-top: 0px;
	width: 100%;
	height: 100%;
	background-size: contain;
	background: linear-gradient(180deg, #0B0C0E 10.21%, rgba(11, 12, 14, 0.4));
	/*background-size: cover;*/
}

header a{
	text-decoration: none;
	outline: none;
	color: black;
}

.Head{
	position: absolute;
	margin-top: 0px;
	width: 100%;
	height: 100%;
	background-size: contain;
	background: linear-gradient(180deg, #0B0C0E 10.21%, rgba(11, 12, 14, 0.4));
	/*background-size: auto;*/
}

.Head__menuHead{
	display: flex;
	border-bottom: 1px solid #ECECEC; 
	padding-bottom: 15px;
}

.Head__menuHead__block-logo__img{
	margin-top: 12px;
	margin-left: 30px;
}

.Head__menuHead__regionHead{
	display: flex;
	width: 200px;
	color: black;
	margin-top: 12px;
	font-size: 14px;
	/*margin-left: 157px;*/
	margin-left: 30px;
	margin-right: 0px;
	cursor: pointer;
}

.Head__menuHead__regionHead__region:hover{
	opacity: 0.7;
}

.Head__menuHead__regionHead__line{
	width: 8px;
	height: 8px;
	padding-top: 20px;
	margin: 0px 10px 0px 8px;
}

.Head__menuHead__regionHead__marker{
	width: 4px;
	height: 4px;
	margin: 0px 4px 0px 10px;
	margin-top: 18px;
	border: 2.5px solid black;
	transform: rotate(45deg);
	border-radius: 50% 50% 0% 50%;
}

.Head__menuHead__regionHead__menu{
	position: absolute;
	display: none;
	margin-top: 50px;
	background: linear-gradient(45deg, white,#a4a4a4);
	border-top: 1px solid rgb(0,0,0,1);
	border-bottom: 1px solid rgb(0,0,0,1);
	padding-right: 40px; 
	padding-top: 10px;
	padding-bottom: 15px;
	margin-left: 0px;
	border-radius: 3px;
	animation-duration: 0.2s;
	animation-name: backWapperMenu;
}

.Head__menuHead__regionHead__menu_item{
	list-style: none;
	padding: 10px 0 10px 0;
	border-bottom: 1px solid rgb(0,0,0,1);
}

.Head__menuHead__regionHead__menu_item:hover{
	opacity: 0.4;
	border-bottom: 1px solid black;
}

.Head__listHead{
	margin-left: -140px;
	margin-right: 100px;
	width: 730px;
}

.Head__listHead__menu{
	display: flex;
	flex-wrap: wrap;
	color: black;
}

.Head__listHead__menu-items{
	cursor: pointer;
	list-style: none;
	display: flex;
	font-size: 14px;
}

.Head__listHead__menu-items:not(.Head__listHead__menu-items:nth-child(1), .Head__listHead__menu-items:nth-child(2)):hover{
	opacity: 0.6;
}

.Head__listHead__menu-items_label:hover{
	opacity: 0.6;
}

.Head__listHead__menu-items-catalog{
	padding: 10px 0 0 42px;
}

.Head__listHead__menu-items-info , .Head__listHead__menu-items-calc , .Head__listHead__menu-items-service{
	padding: 10px 0 0 39px;
}

.Head__listHead__menu-items-company , .Head__listHead__menu-items-contacts{
	padding: 10px 0 0 41px;
}

.Head__listHead__menu-items-more_line{
  	margin-top: 2px;
  	margin-left: 6px;
}

.Head__listHead__menu-items__more{
	position: absolute;
	background: linear-gradient(45deg, white,#a4a4a4);
	animation-duration: 0.2s;
	animation-name: backWapperMenu;
	border-radius: 3px;
	margin-top: 40px;
	border: 2px inset;
	border-color: black;
	border-right: none;
	border-left: none;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 40px;
	display: none;
	z-index: 1;
}

.Head__listHead__menu-items__more-href{
	text-decoration: none;
	color: black;
}

.Head__listHead__menu-items__more-href_name{
	cursor: pointer;
	list-style: none;
	padding: 10px 0px;
	border-bottom: 1px solid rgb(0,0,0,0.5);
	border-right: none;
	border-left: none;
}

.Head__listHead__menu-items__more-href_name:hover{
	opacity: 0.8;
	color: rgb(0,0,0,0.4);
	border-bottom-color: rgb(0,0,0,0.7);
}


.Head__menuHead__menu_language{
	display: flex;
	width: 60px;
	margin-top: 28px;
	margin-left: auto;
	margin-right: 0px;
	cursor: pointer;
}

.Head__menuHead__menu_language:hover{
	opacity: 0.6;
}

.Head__menuHead__menu_language-img{
	width: 13px;
	height: 13px;
}

.Head__menuHead__menu_language-item{
	color: black;
	margin:0;
	font-size: 13px;
	margin-left: 7px;
}

.Head__menuHead__menu_language-disabled{
	display: none;
}

.Head__menuHead__menu_phone{
	display: flex;
	color: black;
	margin-top: 28px;
	margin-left: 25px;
	margin-right: 33px;
}

.Head__menuHead__menu_phone-img{
	width: 12px;
	height: 12px;
	margin-top: 3px;
}

.Head__menuHead__menu_phone-number{
	margin-top: 0px;
	margin-left: 7px;
	font-size: 14px;
}

.Head__menuHead__menu_user{
	display: flex;
	margin-top: 26px;
	margin-right: 130px;
}

.Head__menuHead__menu_user-href:not(.Head__menuHead__menu_user-basket){
	margin-left: 30px
}

.Head__menuHead__menu_user-href:hover{
	opacity: 0.6;
}

/*Navigation to Pages*/
.navigation-pages__block{
	margin-left: 70px;
	margin-top: 20px;
}

.navigation-pages__block-href{
	text-decoration: none;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: #878787;
	transition-duration: 0.3s;
}

.navigation-pages__block-href:hover{
	color: black;
}
/*Page*/
.contentBasket-block__name{
	margin-left: 70px;
}

.contentBasket-block__name-text{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
}

.contentBasket-block__info-none{
	width: 19em;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	margin-right: auto;
	margin-left: auto;
	color: #000000;
}

.contentBasket-block__info__btn-catalog{
	width: 4.8em;
	height: 2em;
	padding: /*40px*/0.5% 2.3%;
	margin-right: auto;
	margin-left: auto;
	background: #C0511F;
	color: white;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	display: flex;
	align-items: center;
	text-align: center;
	text-decoration: none;
	transition-duration: 0.3s;
}

.contentBasket-block__info__btn-catalog:hover{
	opacity: 0.7;
}


/*ALL PRODUCTS*/
.contentBasket-block__info-all-profucts_table{
	width: 100%;
}

.contentBasket-block__info-all-profucts_table_head-name{
	display: flex;
	flex-wrap: wrap;
}

.contentBasket-block__info-all-profucts_table_head-name_list{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	display: flex;
	align-items: center;
	color: #878787;
	margin-left: auto;
	margin-right: 100px;
}

.contentBasket-block__info-all-profucts_table_content-name-product{
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
	/*margin-left: 50px;*/
	border: 1px solid #F6F6F6;
	padding-bottom: 20px;
	border-left: none;
	border-right: none;
}

.contentBasket-block__info-all-profucts_table_content-name_list{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	display: flex;
	align-items: center;
	margin-top: 20px;
	margin-left: auto;
	margin-right: 100px;
}

.contentBasket-block__info-all-profucts_table_content-name_list:nth-child(2){
	width: 195px;
	/*margin-left: 6%;*/
}

.contentBasket-block__info-all-profucts_table_content-name_list:nth-child(3){
	/*margin-left: 12%;*/
}

.contentBasket-block__info-all-profucts_table_content-name_list:nth-child(1){
	/*margin-left: 0px;*/
	
}

.contentBasket-block__info-all-profucts_table_content-name_list:nth-child(4){
	border: 1px solid #D9D9D9;
	width: 41px;
	height: 37px;
	padding-left: 15px;
	/*margin-left: 160px;*/
}

.contentBasket-block__info-all-profucts_table_content-name_list-input{
	width: 31px;
	height: 37px;
	outline: none;
	border:none;
}

.contentBasket-block__info-all-profucts_table_content-name_list-input:focus{
	outline: none;
	border:none;
}

.contentBasket-block__info-all-profucts_table_content-name_list:nth-child(5){
	/*margin-left: 240px;*/
}

.contentBasket-block__info-all-profucts_table_content-name_list:nth-child(6){
	/*margin-left: 170px;*/
	width: 200px;
	margin-right: 0px;
	margin-left: 150px;
}

.contentBasket-block__info-all-profucts_table_content-name_list:nth-child(7){
	width:50px;
	margin-left: -50px;
}

.contentBasket-block__info-all-profucts_table_head-name_list-none{
	width:50px;
	margin-left: 0px;
}
.contentBasket-block__info-all-profucts_table_content-name_clear{
	transition-duration: 0.3s;
}

.contentBasket-block__info-all-profucts_table_content-name_clear:hover{
	opacity: 0.7;
	transform: scale(1.2);
	background: rgb(0,0,0, 0.3);
}

.contentBasket-block__info-footer{
	display: flex;
	flex-wrap: wrap;
}

.contentBasket-block__info-footer__btn-catalog{
	width: 105px;
	height: 42px;
	padding-left: 35px;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	background: #878787;
	margin-left: 90px;
	margin-top: 190px;
	transition-duration: 0.4s;
}

.contentBasket-block__info-footer__btn-catalog_text{
	color:white;
	text-decoration: none;
}

.contentBasket-block__info-footer__btn-catalog:hover, .contentBasket-block__info-footer_price__btn:hover{
	opacity: 0.7;
	transform: scale(1.2);
}

.contentBasket-block__info-footer_price{
	margin-left: auto;
	margin-right: 140px;
	width: 300px;
}

.contentBasket-block__info-footer_price__btn{
	width: 160px;
	height: 42px;
	padding-left: 60px;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	background: #C0511F;
	transition-duration: 0.4s;
	margin-top: 30px;
}

.contentBasket-block__info-footer_price__table{
	margin-top: 100px;
}

.contentBasket-block__info-footer_price__table_content_value{
	display: flex;
	flex-wrap: wrap;
}
.contentBasket-block__info-footer_price__table_content_value-nominal{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	display: flex;
	align-items: center;
}

.contentBasket-block__info-footer_price__table_content_value-name{
	width: 50px;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	display: flex;
	align-items: center;
	color: #878787;
	margin-right: 100px;
	margin-left: 15px;
}


/*FOOTER*/
.menu-footer{
	margin-top: 200px;
	padding-top: 40px;
	padding-bottom: 100%;
	background: #ECECEC;
}

.menu-footer__info{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	margin-left: 145px;
}

.menu-footer__logo{
}

.menu-footer__items{
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
}

.menu-footer__items-list{
	margin-right: 200px;
	margin-top: 10px;
}

.menu-footer__items-list_text{
	display: block;
	text-decoration: none;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 36px;
	color: #878787;
	transition-duration: 0.3s;
}

.menu-footer__items-list_text:hover{
	color: black;
}

.menu-footer__items-list:nth-child(4){
	margin-right: 0px;
}

.menu-footer__footer{
	border-top: 1px solid #818181;
	display: flex;
	width: 80%;
	margin-left: 145px;
	margin-top: 0px;
}

.menu-footer__footer-social{
	display: flex;
	margin-top: 40px;
	margin-left: -2px;
}

.menu-footer__footer-social_item{
	margin-left: 20px;
	cursor: pointer;
}

.menu-footer__footer-social_item:hover{
	opacity: 0.7;
}

.menu-footer__footer-social_fb{
	margin-left: 0;
}

.menu-footer__footer-rights{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: #878787;
	margin-left: auto;
	margin-right: 0px;
	margin-top: 38px;
}