@media (min-width: 0) and (max-width: 500px){

body{
	width: 375px;
	margin-left: auto;
	margin-right: auto;
}

.name-search-block__name{
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	margin-left: 20px;
}

/*container*/

.container{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	overflow-x: none;
}

.container-content-info{
	margin-left: 20px;
}

.container-content-info-block-name{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 36px;
	color: #878787;
}

.container-content-info-block-value{
	font-family: 'Lato';
	font-style: normal;
	font-weight: 600;
}

.map{
	display: block;
	width: 375px;
	height: 431px;
	overflow-x: none;
	margin-top: 30px;
	margin-left: 0px;
}

.menu-footer{
	width:375px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	padding-top: 40px;
	padding-bottom: 100px;
	background: #ECECEC;
}

}